.boardContainer {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
}

.row {
  position: relative;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  padding-right: 50px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  font-size: 16px;
  font-weight: 700;
  border: 2px solid #d3d6da;
}

.buttonContainer {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton {
  border-radius: 3px;
  padding: 5px 3px;
  background-color: burlywood;

  &:hover {
    background-color: rgb(138, 104, 60);
    cursor: pointer;
  }
}
